APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mailgun
MAILGUN_DOMAIN=curriki.me
MAILGUN_SECRET=secret here
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

CURRIKI_API_URL=https://dev.curriki.org/
CURRIKI_AVATARS_BASE_URL=https://currikicdn.s3-us-west-2.amazonaws.com/avatars/
NASSAU_HUB_ID=1
CURRIKI_NASSAU_GROUP_ID=1886
CURRIKI_NASSAU_COLLECTION_ID=33710
GOOGLE_RECAPTCHA_SITE_KEY=6LdUvLMUAAAAAJRi42IGbc3fhkZHEGj1tz5Snh-p
GOOGLE_RECAPTCHA_SECRET_KEY=6LdUvLMUAAAAAFJPYuMAzqSIz9qRhs5h83ttPRX_